/*Обнулення*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
@keyframes blink {
  0% {
    opacity: 1;
    color: #b52b27;
  }
  50% {
    opacity: 0.2;
    color: red;

  }
  100% {
    opacity: 1;
    color: #b52b27;
  }

}



body{
  overflow-y: scroll;
width: 100%;
height: 100%;
margin:25% 0 ;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
  font-family: 'Tahoma', Arial, sans-serif;
  letter-spacing: 0.5vh;
  background: #cacaca;

}
p{
  color: #b52b27;
font-family: 'Tahoma', Arial, sans-serif;
text-align: center;
padding: 2%;
user-select: none;
}

.titleOfMessage,h1{ /*MAIN */
font-family: 'Tahoma', Arial, sans-serif;
   font-weight: 600;
  color: #1f1f1f62;
  font-size: 20px;
  user-select: none;
}
/* 1`st Message */
.error-message:nth-child(2) .titleOfMessage {
   color:#3527b594 ;

}
/* 2nd Message */
.error-message:nth-child(3) .titleOfMessage {
   color: #979926d2;

}
/* 3rd Message */
.error-message:nth-child(4) .titleOfMessage {
   color: #2775b5c0;

}
/* 4th Message */
.error-message:nth-child(5) .titleOfMessage {
  color: #27b53ac2;

}
.error-message {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   padding:2%;
   color: #2c2c2c;
   margin: 1.5%;
   border-radius: 35px;
}
/* 1`st Message */
.error-message:nth-child(2){
  background-color: #ddd6ff;
  border: 1px solid #3527b5;
}
.dateInput {
  width: 10vw;
  font-size: 2vh;
  padding: 1%;
  border-radius: 15px;
  background: #f1eeff;
  border: 2px solid #c3b9f8;
}
.dateInput:focus {
 border-color: #3527b5dc; /* Колір обрамлення при фокусуванні */
}

.textInput{
width: 10vw;
   font-size: 2vh;
   padding: 1%;
   border-radius: 15px;
   background: #fbfcdacc;
   border: 2px solid #cccc9ff6;
}

.textInput:focus {
   border-color: #979926;
}
.errorMessage::before {
display: none;
content: "\266B";
font-size: 2vh;
margin-right: 1%;
color: #b52b27;
}

.errorSymbol{
  display: none;
  content: "\26A0";
  font-size: 5vh;
  color: #b52b27;
  animation: blink 2s ease-in-out forwards;
}
/* 2nd Message */
.error-message:nth-child(3){
background-color: #f7f8cfb9;
border: 1px solid #979926;
}
/* 3rd Message */
.error-message:nth-child(4){
  background-color: #e6f2ff;
border: 1px solid #2775b5;

}
.rangeInput {

  background: #e6e6e6;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
}

.rangeInput:hover, .rangeInput:focus {
  opacity: 1;
}
.help-link {
  color: #b52b27;
  text-decoration: underline;
  cursor: pointer;
}

.helpText {
  display: none;
  flex-direction: column;
  animation: blink 2s normal;
      color: #b52b27;
}

/* 4th Message */
.error-message:nth-child(5){
      background-color: #d0ffce;
      border: 1px solid #27b53a;
      transition: background-color 0.6s, color 0.6s, border-color 0.6s, text-shadow 0.6s;
 }

 .passwordInput{
  width: 10vw;
   font-size: 2vh;
   padding: 1%;
   border-radius: 15px;
   background: #daf8d9;
   border: 2px solid #5ead68a9;
   transition: background-color 0.6s, color 0.6s, border-color 0.6s, text-shadow 0.6s;
 }

 .passwordInput:focus{
  border-color: #458b4e;
 }

 .buttonInput{

  margin-top: 1%;
  width: 10vw;
   font-size: 2vh;
   padding: 1%;
   border-radius: 15px;
   background: #85eb81;
   border: 2px solid #5ead68a9;
   text-shadow: 1px 2px 2px #315536;
   transition: background-color 0.6s, color 0.6s, border-color 0.6s, text-shadow 0.6s;
 }

 .buttonInput:focus{
  border-color:#458b4e;
  background:  #31703a;
  text-shadow: 2px 1px 2px #85eb8191;;
 }
.wrongMessage{
  display: none;
  margin-top: 2%;
  color: #2c2c2c;
  text-shadow: 1px 2px 2px #cfa69e;
}
